<!DOCTYPE html>
<html>
  <head>
    <title>UtaQuiz1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-inverse justify-content-between">
      <div>
        <a class="navbar-brand" href="#">
          <img src="/app/assets/images/ridols.png" class="d-inline-block align-top logo" alt="">
          Ridols
        </a>
      </div>
      <div>
        <form class="form-inline">
          <button class="btn btn-outline-success my-2 my-sm-0 float-right" type="submit">Another!</button>
        </form>
      </div>
    </nav>
    
    <%= yield %>
  </body>
</html>
