<!DOCTYPE html>
<html>
  <head>
    <title>UtaQuiz1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-inverse justify-content-between">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
          <h3>Ridols</h3>
        <% end %>
      </div>
      <div>
        <form class="form-inline">
          <%= link_to 'Another Riddle!', root_path, class: 'btn btn-secondary my-2 my-sm-0 float-right' %>
        </form>
        <br />
        <form class="form-inline">
          <%= link_to 'Create Riddle', new_riddle_path, class: 'btn btn-secondary my-2 my-sm-0 float-right' %>
        </form>
        
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
